.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
}

.top_button {
    display: flex;
    gap: 32px;
}

.contact_form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact_form form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-bottom: 20px;
}

.form_controller {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    position: relative;
}

.form_controller input {
    height: 40px;
    padding: 0 8px;
}

.form_controller label {
    font-size: 14px;
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: white;
    padding: 0 8px;
}