.logo {
  height: 72px;
  width: 72px;
  margin-top: 4px;
  /* margin-left: 91px; */
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

nav {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0 8px;
 height: 72px;
}

nav ul {
  display: flex;
  gap: 24px;
  list-style-type: none;
  font-weight: 500;

}

h1 {
  font-size: 32px;
  margin-top: 90px;
  margin-left: 188px;
}

p {
  font-size: 16px;
  margin-top: 14px;
  margin-left: 188px;
  max-width: 975px;
  color: #000000;
}

.mainContainer {
   display: flex;
   height: 110vh;
   flex-direction: column; 
  justify-content: end;
}